module github.com/birdie-ai/{{.Name}}

go 1.25.5

require github.com/birdie-ai/golibs v0.0.60

tool (
	golang.org/x/tools/cmd/deadcode
	golang.org/x/tools/cmd/goimports
	golang.org/x/vuln/cmd/govulncheck
)
