github.com/birdie-ai/golibs/slog v0.0.2 h1:6ZGHzIpEDt2nMHDh8k4JGMjXDFJ6tpmCh+nj6PsNXrE=
github.com/birdie-ai/golibs/slog v0.0.2/go.mod h1:RpVD0O6KZ4dyptwhfgz0utR4QrwbiroPay18M3kCWAs=
golang.org/x/exp v0.0.0-20230321023759-10a507213a29 h1:ooxPy7fPvB4kwsA2h+iBNHkAbp/4JxTSwCmvdjEYmug=
golang.org/x/exp v0.0.0-20230321023759-10a507213a29/go.mod h1:CxIveKay+FTh1D0yPZemJVgC/95VzuuOLq5Qi4xnoYc=
